package showcase

import (
	"github.com/kerkenes/templ-ui/components/alert"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ AlertDefault() {
	<div class="w-full max-w-xl">
		@alert.Alert() {
			@icon.Rocket()
			@alert.Title() {
				Note
			}
			@alert.Description() {
				This is a default alert — check it out!
			}
		}
	</div>
}
