package showcase

import (
	"github.com/kerkenes/templ-ui/components/alert"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ AlertDestructive() {
	<div class="w-full max-w-xl">
		@alert.Alert(alert.Props{Variant: alert.VariantDestructive}) {
			@icon.TriangleAlert()
			@alert.Title() {
				Error
			}
			@alert.Description() {
				Your session has expired. Please log in again.
			}
		}
	</div>
}
