package showcase

import (
	"github.com/kerkenes/templ-ui/components/badge"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ BadgeWithIcon() {
	@badge.Badge(badge.Props{
		Class: "flex gap-2 items-center",
	}) {
		// Default icon size in @badge is 16x16
		// Use Class: "size-6" for larger icons
		@icon.Rocket()
		With Icon
	}
}
