package showcase

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ ButtonLoading() {
	@button.Button(button.Props{
		Disabled: true,
		Class:    "flex items-center gap-2",
	}) {
		@icon.LoaderCircle(icon.Props{
			Class: "animate-spin",
		})
		Please wait
	}
}
