package showcase

import (
	"github.com/kerkenes/templ-ui/components/calendar"
	"github.com/kerkenes/templ-ui/components/card"
)

templ CalendarDefault() {
	<div>
		@card.Card() {
			@card.Content() {
				@calendar.Calendar()
			}
		}
	</div>
}
