package showcase

import (
	"github.com/kerkenes/templ-ui/components/calendar"
	"github.com/kerkenes/templ-ui/components/card"
)

templ CalendarSizes() {
	<div>
		@card.Card() {
			@card.Content() {
				@calendar.Calendar(calendar.Props{
					Class: "[--cell-size:2.5rem]",
				})
			}
		}
	</div>
}
