package showcase

import "github.com/kerkenes/templ-ui/components/datepicker"

templ DatePickerCustomPlaceholder() {
	<div class="w-full max-w-sm">
		@datepicker.DatePicker(datepicker.Props{
			Placeholder: "When is your birthday?",
		})
	</div>
}
