package showcase

import "github.com/kerkenes/templ-ui/components/textarea"

templ TextareaAutoResize() {
	<div class="w-full max-w-md">
		@textarea.Textarea(textarea.Props{
			Placeholder: "Start typing to see the magic...",
			AutoResize:  true,
		})
	</div>
}
