package showcase

import "github.com/kerkenes/templ-ui/components/timepicker"

templ TimePicker12Hour() {
	<div class="w-full max-w-sm">
		@timepicker.TimePicker(timepicker.Props{
			Use12Hours: true,
		})
	</div>
}
