package showcase

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/tooltip"
)

templ TooltipDefault() {
	@tooltip.Tooltip() {
		@tooltip.Trigger(tooltip.TriggerProps{}) {
			@button.Button(button.Props{
				Variant: button.VariantOutline,
			}) {
				Hover Me
			}
		}
		@tooltip.Content(tooltip.ContentProps{
			ID:       "tooltip-default",
			Position: tooltip.PositionTop,
		}) {
			Add to cart
		}
	}
}
