package examples

import (
	"github.com/kerkenes/templ-ui/components/alert"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ AlertBasic() {
	@alert.Alert(alert.Props{Class: "max-w-md"}) {
		@icon.CircleCheck()
		@alert.Title() {
			Account updated successfully
		}
		@alert.Description() {
			Your profile information has been saved. Changes will be reflected immediately.
		}
	}
}
