package examples

import "github.com/kerkenes/templ-ui/components/avatar"

templ AvatarBasic() {
	@avatar.Avatar() {
		@avatar.Image(avatar.ImageProps{
			Src:   "https://github.com/axadrn.png",
			Alt:   "@axadrn",
			Class: "grayscale",
		})
		@avatar.Fallback() {
			AA
		}
	}
}
