package examples

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ ButtonRounded() {
	<div class="flex flex-col gap-8">
		@button.Button(button.Props{
			Variant: button.VariantOutline,
			Size:    button.SizeIcon,
			Class:   "rounded-full",
		}) {
			@icon.ArrowUp()
		}
	</div>
}
