package examples

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ ButtonWithIcon() {
	@button.Button(button.Props{
		Variant: button.VariantOutline,
		Size:    button.SizeSm,
	}) {
		@icon.GitBranch()
		New Branch
	}
}
