package examples

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/buttongroup"
	"github.com/kerkenes/templ-ui/components/icon"
	"github.com/kerkenes/templ-ui/components/inputgroup"
	"github.com/kerkenes/templ-ui/components/tooltip"
	"github.com/kerkenes/templ-ui/utils"
)

templ ButtonGroupInputGroup() {
	@buttongroup.ButtonGroup(buttongroup.Props{Class: "[--radius:9999rem]"}) {
		@buttongroup.ButtonGroup() {
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size:    button.SizeIcon,
			}) {
				@icon.Plus()
			}
		}
		@buttongroup.ButtonGroup() {
			@inputgroup.InputGroup() {
				@inputgroup.Input(inputgroup.InputProps{Placeholder: "Send a message..."})
				@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignInlineEnd}) {
					@tooltip.Tooltip() {
						@inputgroup.Button(inputgroup.ButtonProps{
							Attributes: utils.MergeAttributes(tooltip.Trigger(ctx), templ.Attributes{"aria-label": "Voice Mode"}),
						}) {
							@icon.AudioLines()
						}
						@tooltip.Content() {
							Voice Mode
						}
					}
				}
			}
		}
	}
}
