package examples

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/card"
	"github.com/kerkenes/templ-ui/components/collapsible"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ CollapsibleBasic() {
	@card.Card(card.Props{Class: "mx-auto w-full max-w-sm"}) {
		@card.Content() {
			@collapsible.Collapsible(collapsible.Props{Class: "rounded-md data-open:bg-muted"}) {
				@button.Button(button.Props{
					Variant:    button.VariantGhost,
					Class:      "w-full",
					Attributes: collapsible.Trigger(ctx),
				}) {
					Product details
					@icon.ChevronDown(icon.Props{Class: "ml-auto group-data-panel-open/button:rotate-180"})
				}
				@collapsible.Content(collapsible.ContentProps{Class: "flex flex-col items-start gap-2 p-2.5 pt-0 text-sm"}) {
					<div>
						This panel can be expanded or collapsed to reveal additional content.
					</div>
					@button.Button(button.Props{Size: button.SizeXs}) {
						Learn More
					}
				}
			}
		}
	}
}
