package examples

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/dropdownmenu"
	"github.com/kerkenes/templ-ui/components/icon"
)

templ DropdownMenuDestructive() {
	@dropdownmenu.DropdownMenu() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: dropdownmenu.Trigger(ctx),
		}) {
			Actions
		}
		@dropdownmenu.Content() {
			@dropdownmenu.Group() {
				@dropdownmenu.Item() {
					@icon.Pencil()
					Edit
				}
				@dropdownmenu.Item() {
					@icon.Share()
					Share
				}
			}
			@dropdownmenu.Separator()
			@dropdownmenu.Group() {
				@dropdownmenu.Item(dropdownmenu.ItemProps{Variant: dropdownmenu.ItemVariantDestructive}) {
					@icon.Trash()
					Delete
				}
			}
		}
	}
}
