package examples

import (
	"github.com/kerkenes/templ-ui/components/empty"
	"github.com/kerkenes/templ-ui/components/icon"
	"github.com/kerkenes/templ-ui/components/inputgroup"
	"github.com/kerkenes/templ-ui/components/kbd"
)

templ EmptyInputGroup() {
	@empty.Empty() {
		@empty.Header() {
			@empty.Title() {
				404 - Not Found
			}
			@empty.Description() {
				The page you're looking for doesn't exist. Try searching for what you need below.
			}
		}
		@empty.Content() {
			@inputgroup.InputGroup(inputgroup.Props{Class: "sm:w-3/4"}) {
				@inputgroup.Input(inputgroup.InputProps{Placeholder: "Try searching for pages..."})
				@inputgroup.Addon() {
					@icon.Search()
				}
				@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignInlineEnd}) {
					@kbd.Kbd() {
						/
					}
				}
			}
			@empty.Description() {
				Need help? <a href="#">Contact support</a>
			}
		}
	}
}
