package examples

import (
	"github.com/kerkenes/templ-ui/components/icon"
	"github.com/kerkenes/templ-ui/components/inputgroup"
	"github.com/kerkenes/templ-ui/components/kbd"
)

templ InputGroupKbd() {
	@inputgroup.InputGroup(inputgroup.Props{Class: "max-w-sm"}) {
		@inputgroup.Input(inputgroup.InputProps{Placeholder: "Search..."})
		@inputgroup.Addon() {
			@icon.Search(icon.Props{Class: "text-muted-foreground"})
		}
		@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignInlineEnd}) {
			@kbd.Kbd() {
				⌘K
			}
		}
	}
}
