package examples

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/sheet"
)

templ SheetNoCloseButton() {
	@sheet.Sheet() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: sheet.Trigger(ctx),
		}) {
			Open Sheet
		}
		@sheet.Content(sheet.ContentProps{HideCloseButton: true}) {
			@sheet.Header() {
				@sheet.Title() {
					No Close Button
				}
				@sheet.Description() {
					This sheet doesn't have a close button in the top-right corner. Click outside to close.
				}
			}
		}
	}
}
