package examples

import "github.com/kerkenes/templ-ui/components/tabs"

templ TabsVertical() {
	@tabs.Tabs(tabs.Props{DefaultValue: "account", Orientation: tabs.OrientationVertical}) {
		@tabs.List() {
			@tabs.Trigger(tabs.TriggerProps{Value: "account"}) {
				Account
			}
			@tabs.Trigger(tabs.TriggerProps{Value: "password"}) {
				Password
			}
			@tabs.Trigger(tabs.TriggerProps{Value: "notifications"}) {
				Notifications
			}
		}
	}
}
