package examples

import (
	"github.com/kerkenes/templ-ui/components/button"
	"github.com/kerkenes/templ-ui/components/textarea"
)

templ TextareaButton() {
	<div class="grid w-full gap-2">
		@textarea.Textarea(textarea.Props{Placeholder: "Type your message here."})
		@button.Button() {
			Send message
		}
	</div>
}
