package examples

import (
	"github.com/kerkenes/templ-ui/components/icon"
	"github.com/kerkenes/templ-ui/components/togglegroup"
	"github.com/kerkenes/templ-ui/utils"
)

templ ToggleGroupVertical() {
	@togglegroup.ToggleGroup(togglegroup.Props{
		Multiple:     true,
		DefaultValue: []string{"bold", "italic"},
		Orientation:  togglegroup.OrientationVertical,
		Spacing:      utils.Ptr(1),
	}) {
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "bold",
			Attributes: templ.Attributes{"aria-label": "Toggle bold"},
		}) {
			@icon.Bold()
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "italic",
			Attributes: templ.Attributes{"aria-label": "Toggle italic"},
		}) {
			@icon.Italic()
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "underline",
			Attributes: templ.Attributes{"aria-label": "Toggle underline"},
		}) {
			@icon.Underline()
		}
	}
}
