package examples

import "github.com/kerkenes/templ-ui/components/togglegroup"

templ ToggleGroupOutline() {
	@togglegroup.ToggleGroup(togglegroup.Props{
		Variant:      togglegroup.VariantOutline,
		DefaultValue: []string{"all"},
	}) {
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "all",
			Attributes: templ.Attributes{"aria-label": "Toggle all"},
		}) {
			All
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "missed",
			Attributes: templ.Attributes{"aria-label": "Toggle missed"},
		}) {
			Missed
		}
	}
}
