package pages

import (
	"github.com/kerkenes/templ-ui/internal/ui/layouts"
	"github.com/kerkenes/templ-ui/internal/ui/showcase"
)

templ SidebarFullscreen() {
	@layouts.BaseLayout(
		"Sidebar Fullscreen",
		"A composable, themeable and customizable sidebar component.",
	) {
		@showcase.SidebarDefault()
	}
}
